@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MADE+Tommy+Soft:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'MADE Tommy Soft', sans-serif;
    font-weight: 800;
    margin: 0 0 2rem;
    color: #09447E;
  }
  
  p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0 0 2rem;
  }
}


/* Custom breakpoint for navigation at 1100px */
@media (min-width: 1100px) {
  .desktop-nav\:flex {
    display: flex;
  }
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

@media (max-width: 1099px) {
  .desktop-nav\:flex {
    display: none;
  }
  .mobile-menu-btn {
    display: block;
  }
}

@layer components {
  .header-container {
    width:100%;
    max-width: 1448px;
    margin: 0 auto;
    padding: 1.5rem 1rem;
  }
  .content-container {
    width: 100%;
    max-width: 1448px;
    margin: 0 auto;
    padding: 10rem 1rem;
  }
}
